# Ignore build outputs
bin/
obj/

# Ignore user-specific files
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore SQLite database and related files
*.db
*.sqlite
*.sqlite3
*.db-journal

# Ignore log files
*.log

# Ignore package directories
packages/
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore publish output
publish/
*.PublishProfiles/

# Ignore secrets file
secrets.json

# Ignore Rider files
.idea/

# Ignore .NET specific files
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.ilk
*.lib
*.obj
*.so
*.swp
*.tlog
*.tmp
*.vscode
*.vspscc
*.vssscc
TestResults/
